/* Quick paste tools
* { border: 1px solid red}


*/


*,
*::before,
*::after {
    box-sizing: border-box;
}

/* * { border: 1px solid red} */

/* General styles */
.container {
    padding: 0% 12.5%;
}


/* Buttons styles */
button {
    border-radius: 5px;
    width: 5rem;
    height: 1.5rem;

    background-color: #3882f6;
    color: #f9faf8;
    font-size: 0.7rem;
    font-weight: bolder;
}

/* General typography */

p, a {
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 10%;
}

/* Major sections */

/* Header */
header {
    background-color: #1f2937;
    
}
/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1f2937;
    height: 50px;
    padding: 0% 12.5%;
}

.navbar-item a {
    color: #e5e7eb;
    font-size: 1rem;
    font-weight: bolder;
}

#navbar #logo {
    display: flex;
    align-items: center;
}
#navbar #logo img {
    width: 80px;
}

#nav-links {
    display: flex;
}
#navbar ul {
    list-style-type: none;
}

#navbar ul li {
    margin-left: 1rem;
 }

li a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 0.75rem;
}

/* Hero */
#hero {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;

    height: 30vh;
    background-color: #1f2937;
}

#hero #container-left {
    height: 176px;
}

#container-left #hero-head{
    padding: 0;
    margin: 0rem 0rem 0.35rem 0rem;

    color: #f9faf8;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 930;
}

#container-left #hero-text{
    padding-right: 10%;
    margin: 0.35rem 0rem 0.35rem 0rem;
    line-height: 1rem;

    color:#e5e7eb;
    
}

#container-left button {
    border: none;
    margin: 0.35rem 0rem 0.35rem 0rem;
}

#container-right img {
    width: 350px;
}

/* Work */
#work {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh;

    background-color: white;
    color: #1f2937;
}

#work #work-head {
    padding-top: 0.8rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 930;
}
#work .work-items {
    display: flex;
    padding-bottom: 2rem;

    color: rgb(87, 86, 86);
}

#work .work-item {
    padding: 1.25rem;
}

#work .work-item-box {
    width: 120px;
    height: 120px;
    border: 2.8px solid #3882f6;
    border-radius: 10%;
}

.work-item p {
    width: 120px;
}
/* Quote */
#quote {
    background-color: #e5e7eb;
}

#quote #quote-text {
    padding-top: 17.5%;
    color: #1f2937;
    font-size: 2rem;
    font-family: 'Merriweather', serif;
}

#quote #quote-attribution {
    padding-bottom: 17.5%;
    text-align: end;

    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
}

/* Action */
#action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

    background-color: white;
}

#action #action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 1000px;
    border-radius: 5px;
    padding: 2em 4em;

    background-color: #3882f6;
    color: #f9faf8;
}

#action #action-container #text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#action-container #call {
    padding: 1rem 0rem 0rem 0rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#action-container #description {
    padding: 0rem 0rem 1rem 0rem;
}

#action-container button {
    border: 1px solid #f9faf8;
}

/* Footer */

#footer {
    background-color: #1f2937;
}