/* Quick paste tools
* { border: 1px solid red}


*/


*,
*::before,
*::after {
    box-sizing: border-box;
}

/* * { border: 1px solid red} */

/* General styles */
.container {
    padding: 0% 12.5%;
}


/* Buttons styles */

/* General typography */

p, a {
    font-size: 1rem;
}

/* Major sections */

/* Header */
header {
    background-color: #1f2937;
    
}
/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1f2937;
    height: 50px;
    padding: 0% 12.5%;
}

.navbar-item a {
    color: #e5e7eb;
    font-size: 1rem;
}

#navbar #logo {
    display: flex;
    align-items: center;
}
#navbar #logo img {
    width: 80px;
}

#nav-links {
    display: flex;
}
#navbar ul {
    list-style-type: none;
}

#navbar ul li {
    margin-left: 1rem;
 }

li a{
    text-decoration: none;
    color: #e5e7eb;
}

/* Hero */
#hero {
    display: flex;
    align-items: center;

    height: 35vh;
    background-color: #1f2937;
}


#hero #container-left h1{
    margin: 0;

    color: #f9faf8;
    font-size: 3rem;
    font-weight: extra-bold;
}

#hero #container-left p{
    padding-right: 10%;
    margin: 0;

    color:#e5e7eb;
    font-size: 1rem;
}

#container-right img {
    width: 350px;
}
/* Work */
#work {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;

    background-color: white;
    color: #1f2937;
}

#work .work-items {
    display: flex;

    color: black;
}

#work .work-item-box {
    width: 120px;
    height: 120px;
    border: 2px solid #3882f6;
    border-radius: 10%;
}

/* Quote */
#quote {
    background-color: #e5e7eb;
}

#quote #quote-text {
    padding-top: 17.5%;
    color: #1f2937;
    font-size: 2rem;
    font-family: 'Merriweather', serif;
}

#quote #quote-attribution {
    padding-bottom: 17.5%;
    text-align: end;

    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
}

/* Action */
#action {
    background-color: white;
}

#action #action-container {
    display: flex;

    background-color: #3882f6;
}

#action #action-container .text {
    display: flex;
    flex-direction: column;

    color: white;
}

/* Footer */

#footer {
    background-color: #1f2937;
}